@font-face {
    font-family: "W95SA";
    src: url(fonts/w95fa.woff2) format('woff2'),
        url(fonts/w95fa.woff) format('woff'),
        url(fonts/W95FA.otf) format('opentype');
}
body {
    background-color: #008080;
    font-family: "W95SA";
    color:white
    }
#start_button{
    background-color: #bfb8bf;
    color:black;
    font-family: "W95SA";
    width: 5%;
    text-align: justify;
}
footer {
    position : fixed;
    left : 0;
    bottom : 0;
    width: 100%;
    background-color:#bfb8bf;
}